.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    min-width: 300px;
    justify-content: space-between;
}

.card__section-img-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card__section-name {
    display: flex;
    flex-direction: column;
}

.card__img {
    border-radius: 50%;
    width: 50px;
}

.card__nick {
    font-size: small;
    color: rgba(255, 255, 255, 0.468);
}